extend layout
block content
  h1 Artists
  div.resultsPanel
    div.resultItem
        img.albumCover(src='/images/fleetfoxes.jpg')
        p.resultBold Fleet Foxes
        p.resultLame songs: 47
    div.resultItem
        img.albumCover(src='/images/grizzly.png')
        p.resultBold Grizzly Bear
        p.resultLame songs: 64

  