extend layout
block content
  h2 Audio - mp3
  audio(id="player", src="/../files/19-FloatOn(feat.CharliXCX).mp3", type="audio/mp3", controls="controls")
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.