extend layout
block content
  h1.resultsTitle Welcome
  div.resultsPanel
    div.landingGroup
        img#landingReel(src='/images/landingReel.svg')
        img#landingWords(src='/images/landingWords.svg')
        