doctype
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sliders.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    link(rel='stylesheet', href='/stylesheets/songs.css')
    script(src='/javascripts/jquery_2.1.0.js')
    script(src='/javascripts/jquery_ui_1.10.4.min.js')
    script(src='/javascripts/jQueryRotateCompressed.js')
    script(src='/javascripts/berniecode-animator.js')
    script(src='/javascripts/wavesurfer.min.js')
    script(src='/javascripts/handler.js')
    script(src='/javascripts/frontend.js')
    script(src='/javascripts/slider.js')


  body
    div.navbar
        a#brand(href='/')
            img#brandImg(src='/images/brand.svg')
        div.nav-user
            a#login(href='/login') login
            div.divider
            a#signup(href='/artists') signup

    .container
        block content

    div.sliderPane#picturePane
        h1 browse by
        div.browseCat
            p#artists(onclick="ajaxArtists()", style="cursor: pointer;") artists
            p#albums(onclick="ajaxAlbums('none','none')", style="cursor: pointer;") albums
            p#songs(onclick="ajaxSongs('none','none','none')", style="cursor: pointer;") songs
        form(action="/", method="post", enctype="multipart/form-data")
            input(type="file", name="uploadSong", id="inputUpload", onchange="document.getElementById('uploadFile').innerHTML=this.value;")
            p.flat-button.flat-button-2(type="button", onclick="document.getElementById('inputUpload').click();") Choose File
            p#uploadFile none
            button.flat-button.flat-button-1#uploadBtn(type="submit", onclick="") upload
    div.sliderToggle#pictureSlider
        img#sliderImg(src='/images/slider.svg')

    footer
      div.queueContainer

      div.controller
        div.wavy-time#currentTime 0:00
        div#play-name no song selected
        img.skips#skip-left(src='/images/skipBackButton.svg')
        img#play-pause(src='/images/playButton.svg')
        img.skips#skip-right(src='/images/skipForwardButton.svg')
        img.skips#mute(src='/images/volumeFull.svg')
        img.skips#repeat(src='/images/repeatFalse.svg')
        div.wavy-time#endTime 0:00
      div.timeWave
        div.wavy
            div.waveform
              div.progress.progress-striped.active.progress-bar-outer
                div.progress-bar.progress-bar-info
            span.glyphicon.glyphicon-play.profile-track-play-pause(style='margin-top:5px')
            script.
                loadMusic('../files/FloatOn.mp3');
        