main-color = #c1333f
main-color-light = #ff6563
background-color = #ebebeb
main-panel = #131313
result-panel = #dadada
black = #000
white = #fff

controller-height = 50px
navbar-height = 60px

transitions(t)
    transition: background t ease-in-out;
    -webkit-transition: background t ease-in-out;
    -moz-transition: background t ease-in-out;
    -ms-transition: background t ease-in-out;
    -o-transition: background t ease-in-out;

round-corners(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n