@import 'mixins'

song-bkgrd = #1f1f1f
song-dark-bkgrd = #141414
header-bkgrd = #c1333f
header-dark-bkgrd = #90262f

song-height = 50px

.resultItemSong
    background-color song-bkgrd
    color white
    width 90%
    min-width 400px
    height song-height
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-bottom:3px solid darken(song-dark-bkgrd, 50%);
    border-top:2px solid lighten(song-bkgrd, 20%);
    overflow hidden
    position relative

.albumCover
    height song-height
    width song-height
    display inline
    float left

.title, .artist, .album, .track, .length
    font-size (song-height * 0.35)
    padding 0px (song-height/3)
    height song-height
    line-height song-height
    display inline-block
    overflow hidden

.title
	width 35%
	float left

.artist
	width 15%
	float left
	background-color song-dark-bkgrd
	color header-bkgrd

.album
	width 15%
	float left

.track
	width 3%
	float right
	text-align center
	background-color song-dark-bkgrd

.length
	width 5%
	float right
	text-align center
	color header-bkgrd

.songTableHeader
    background-color header-bkgrd
    color white
    width 90%
    min-width 400px
    height song-height
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-bottom:3px solid darken(header-dark-bkgrd, 50%);
    overflow hidden
    position relative

    .blankCover
    	width song-height
    	height song-height
    	background-color header-dark-bkgrd
    	display inline-block
    	float left

    .artist
    	color white
    	background-color header-dark-bkgrd

    .track
    	background-color header-dark-bkgrd
    	font-size (song-height * 0.20)

    .length
    	color white
    	font-size (song-height * 0.20)