.resultItemSong {
  background-color: #1f1f1f;
  color: #fff;
  width: 96%;
  min-width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-bottom: 3px solid #0a0a0a;
  border-top: 2px solid #4c4c4c;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.resultItemSong .albumCover {
  height: 50px;
  width: 50px;
  display: inline;
  float: left;
}
.resultItemSong:hover {
  background-color: #101010;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
}
.title,
.artist,
.album,
.track,
.length {
  font-size: 15.5px;
  padding: 0px 16.666666666666668px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  overflow: hidden;
}
.title {
  width: 35%;
  float: left;
}
.artist {
  width: 18%;
  float: left;
  background-color: #141414;
  color: #c1333f;
}
.album {
  width: 18%;
  float: left;
}
.track {
  width: 3%;
  float: right;
  text-align: center;
  background-color: #141414;
}
.editButton {
  margin: 10px 0px;
  width: 30px;
  height: 30px;
  z-index: 100;
}
.editButton:hover {
  opacity: 0.6;
}
.length {
  width: 3%;
  float: right;
  text-align: center;
  color: #c1333f;
}
.songTableHeader {
  background-color: #c1333f;
  color: #fff;
  width: 96%;
  min-width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-bottom: 3px solid #481317;
  overflow: hidden;
  position: relative;
}
.songTableHeader .head-click {
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  font-size: 17.5px;
}
.songTableHeader .blankCover {
  width: 50px;
  height: 50px;
  background-color: #90262f;
  display: inline-block;
  float: left;
}
.songTableHeader .artist {
  color: #fff;
  background-color: #90262f;
}
.songTableHeader .track {
  background-color: #90262f;
  font-size: 10px;
}
.songTableHeader .track:hover,
.songTableHeader .artist:hover {
  background-color: #651b21;
}
.songTableHeader .title:hover,
.songTableHeader .album:hover,
.songTableHeader .length:hover {
  background-color: #741f26;
}
.songTableHeader .album {
  padding-right: auto;
}
.songTableHeader .length {
  color: #fff;
  font-size: 10px;
}
