@import 'mixins'

song-bkgrd = #1f1f1f
song-dark-bkgrd = #141414
header-bkgrd = #c1333f
header-dark-bkgrd = #90262f

song-height = 50px

.resultItemSong
    background-color song-bkgrd
    color white
    width 96%
    min-width 400px
    height song-height
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-bottom:3px solid darken(song-dark-bkgrd, 50%);
    border-top:2px solid lighten(song-bkgrd, 20%);
    overflow hidden
    position relative
    cursor pointer

    .albumCover
        height song-height
        width song-height
        display inline
        float left

.resultItemSong:hover
    background-color darken(song-bkgrd,50%)
    transitions(0.1s)

.title, .artist, .album, .track, .length
    font-size (song-height * 0.31)
    padding 0px (song-height/3)
    height song-height
    line-height song-height
    display inline-block
    overflow hidden

.title
	width 35%
	float left

.artist
	width 15%
	float left
	background-color song-dark-bkgrd
	color header-bkgrd

.album
	width 18%
	float left

.track
	width 3%
	float right
	text-align center
	background-color song-dark-bkgrd

.editButton
    margin (song-height * 0.15)
    width (song-height * 0.7)
    height (song-height * 0.7)
    z-index 100

.editButton:hover
    opacity 0.6

.length
	width 5%
	float right
	text-align center
	color header-bkgrd

.songTableHeader
    background-color header-bkgrd
    color white
    width 96%
    min-width 400px
    height song-height
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-bottom:3px solid darken(header-dark-bkgrd, 50%);
    overflow hidden
    position relative

    .head-click
        cursor pointer
        transitions(0.1s)
        font-size (song-height * 0.35)

    .blankCover
    	width song-height
    	height song-height
    	background-color header-dark-bkgrd
    	display inline-block
    	float left

    .artist
    	color white
    	background-color header-dark-bkgrd

    .track
    	background-color header-dark-bkgrd
    	font-size (song-height * 0.20)

    .track:hover, .artist:hover
        background-color darken(header-dark-bkgrd,30%)

    .title:hover, .album:hover, .length:hover
        background-color darken(header-bkgrd, 40%)

    .album
        padding-right auto

    .length
    	color white
    	font-size (song-height * 0.20)
