/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Montserrat|Amatic+SC");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  overflow-y: scroll;
}
body {
  font-family: 'Montserrat';
  background-color: #ebebeb;
  color: #444;
}
.navbar {
  padding: 0px 15%;
  font-size: 20px;
  background-color: #000;
  height: 60px;
  overflow: visible;
  color: #fff;
  margin-bottom: 20px;
  color: #fff;
  z-index: 1000;
}
#brand {
  float: left;
  padding: 6px;
  top: 0px;
  display: inline;
  width: 100px;
}
#brandImg {
  height: 48px;
}
#signup {
  color: #c1333f;
}
a {
  color: main-white;
  text-decoration: none;
}
h1 {
  font-size: 32px;
  margin-bottom: 30px;
}
.browseCat {
  margin-left: 50px;
}
.browseCat > p {
  margin-bottom: 15px;
}
.divider {
  background-color: #fff;
  width: 3px;
  top: 15px;
  height: 30px;
  display: inline;
  margin: 0px;
  position: absolute;
}
.nav-user {
  position: absolute;
  left: 43%;
  display: inline;
  line-height: 60px;
}
.nav-user > a {
  margin: 20px;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
  overflow: hidden;
}
.resultsPanel {
  width: 90%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dadada;
  padding: 30px;
  margin-bottom: 12%;
}
.albumCover {
  width: 200px;
}
.container > h1 {
  margin-left: 5%;
  margin-bottom: 20px;
  color: #c1333f;
}
p {
  line-height: 1.8;
}
footer {
  width: 100%;
  bottom: 0;
  padding-top: 5px;
  font-size: 13px;
  position: fixed;
  background-color: #000;
  color: #fff;
}
#play-name {
  position: fixed;
  left: 0;
  width: 45%;
  text-align: center;
}
.wavy {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.timeWave {
  margin-left: auto;
  margin-right: auto;
}
.wavy-time {
  display: inline;
  position: relative;
  bottom: -45px;
}
#currentTime {
  position: fixed;
  bottom: 22px;
  left: 5%;
}
#endTime {
  position: fixed;
  bottom: 22px;
  right: 5%;
}
.controller {
  text-align: center;
  margin: 20px;
  height: 50px;
  line-height: 50px;
}
#play-pause {
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}
.skips {
  display: inline;
  position: relative;
  height: 33.333333333333336px;
  bottom: 8.333333333333334px;
}
#mute {
  height: 16.666666666666668px;
  bottom: 16.666666666666668px;
  left: 10%;
}
#repeat {
  left: 15%;
}
.resultBold {
  font-size: 18px;
  color: #000;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
.resultLame {
  font-size: 12px;
  color: #666;
  line-height: 12px;
  height: 12px;
  overflow: hidden;
}
.resultBoldPlay {
  margin-left: 20px;
  font-size: 18px;
  color: #ccc;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
.resultLamePlay {
  margin-left: 20px;
  font-size: 12px;
  color: #666;
  line-height: 12px;
  height: 12px;
  overflow: hidden;
}
.resultItem {
  display: inline-block;
  margin: 20px;
  width: 200px;
  overflow: hidden;
  background-color: #c4c4c4;
  padding: 5px;
  top: 0;
}
.resultItem:hover {
  background-color: #999;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
}
#uploadBtn {
  margin-left: 27%;
}
.searchForm {
  width: 500px;
  margin: 0 auto;
}
#searchInput {
  background: url("/images/search.svg") no-repeat 8px 6px;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  padding: 6px 15px 6px 30px;
  margin: 3px;
  width: 40%;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #4d4d4d;
  background-color: #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #666;
}
input {
  padding: 6px 15px 6px 15px;
  width: 90%;
  margin: 3px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #4d4d4d;
  background-color: #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #666;
}
#clear {
  visibility: false;
}
input:focus {
  outline: none;
}
.landingGroup {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#landingReel {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
